* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* color : #db6a26 tünd qəhvəyi
color : #87cda8 açıq yaşıl
color : #f6b825 açıq qəhvəyi
color : #14997e tünd yaşıl 
color : #494546 açıq qara */
